@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    > footer, > header {
        flex-shrink: 0;
    }

    > main {
        flex-grow: 1;
    }
}