@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

body > footer, body > header {
    flex-shrink: 0;
}

body > main {
    flex-grow: 1;
}

.btn {
    text-transform: uppercase;
}
.btn-outline.btn-primary {
    @apply text-white border-primary
}

.skeleton {
    animation: skeleton 1s infinite forwards alternate;
}

@keyframes skeleton {
    from {
        @apply bg-slate-400;
    }
    to {
        @apply bg-slate-700;
    }
}