@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;

    > footer, > header {
        flex-shrink: 0;
    }

    > main {
        flex-grow: 1;
    }
}

.btn-outline.btn-primary {
    color: white;
    border-color: hsl(var(--p));
}