@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 48px;
    --footer-hight: 48px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

header {
    height: var(--header-height);
}

main {
    height: calc(100vh - 48px - 48px);
    height: calc(100dvh - 48px - 48px);
}

footer {
    height: var(--footer-hight);
}

body > footer, body > header {
    flex-shrink: 0;
}

body > main {
    flex-grow: 1;
}

.btn {
    text-transform: uppercase;
}
.btn-outline.btn-primary {
    @apply text-white border-primary
}

.skeleton {
    animation: skeleton 1s infinite forwards alternate;
}

@keyframes skeleton {
    from {
        @apply bg-slate-400;
    }
    to {
        @apply bg-slate-700;
    }
}